[submodule "cgadimpl"]
        path = cgadimpl
        url = https://github.com/mg1503/cgadimpl.git
[submodule "DTensor_v2.0/Tensor-Implementations"]
        path = DTensor_v2.0/Tensor-Implementations
        url = https://github.com/skywxlker-ops/Tensor-Implementations.git
