# Compiled Object files
*.o
*.obj

# Static Libraries
*.a
*.lib

# Shared Libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Specific Binaries
DTensor_v2.0/examples/tensor_parallel_mlp
DTensor_v2.0/benchmarks/rotate_benchmarking
DTensor_v2.0/benchmarks/shard_benchmarking

#log files



# Build directories
build/

# VSCode
.vscode/



*.o
*.log
*.csv
*congfig.txt
*.sh
DTensor/examples/gpt2_tensor_parallel_test
DTensor/examples/gpt2_mlp_parallel_test
DTensor/examples/gpt2_entropy_parallel_test
DTensor/tests/summa
*.nvcudmp
